*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


body{
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
    overflow-x: hidden;
    
}

header{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    flex-wrap: wrap;
}

header .logo{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.6s ease;
}

header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul li{
    list-style: none;
    margin: 20px;
}

header ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.4s ease;
    padding: 6px 15px;
    border-radius: 20px;
}


header ul li a:hover, header ul li a.active{
    background-color: #fff;
    color : #2b1055;
}


section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #1c0522, transparent);
    z-index: 200;
}


section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    object-fit: cover;
    pointer-events: none;
    background-attachment: fixed;
    
}



section img#moon{
    mix-blend-mode: screen;
    
}

#mountains_front{
    z-index: 50;
}



#text{
    position: absolute;
    color: #fff;
    white-space: nowrap; 
    transform: translateX(500px);
    font-size: 4.5vw;
    z-index: 10;
    
}

#btn{
    text-decoration: none;
    padding: 8px 30px;
    background-color: #fff;
    color: #2b1055;
    font-size: 1.5em;
    border-radius: 40px;
    display: inline-block;
    transform: translateY(100px);
}

.sec{
    position: relative;
    padding: 100px;
    background: #1c0522;
}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fbe4ff;
}
.sec p{
    font-size: 1.3em;
    color: #f3e6f5;;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #443047;
    color: white;
    padding: 20px;
}

/* Gallery */

#wrapper{
    /* height: 100vh; */
    overflow-x: hidden;
    overflow-y: auto;
    background: rgb(250,250,250);
    background: linear-gradient(to bottom, #1C0522, #1C0522,rgb(255, 255, 255))
}

.container{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
}

.container h1{
    margin: 20px;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #333333;
    z-index: 1000;
}

.container h1:hover{
    color: black;
    transform: scale(1.05);
    transition: 0.5s;
}

/* For overlapping of text we are using relative */
.card{
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.card img{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;
    transition: 0.5s;
}

.card:hover{
    transform: scale(1.03);
    filter: drop-shadow(0 0 10px #333);
    transition: 0.3s;
    
}

.card:hover img{
    filter: grayscale(0%);
    transition: 0.5s;
}


.card figcaption{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    font-size: 16px;
    font-weight: 500;
    padding: 25px;
    color: #fff;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0) 100%);
    transition: 0.3s;
}

.card:hover figcaption{
    opacity: 1;
    transition: scale(1.03);
}


.glow {   font-size: 80px;   color: #fff;   text-align: center;   animation: glow 1s ease-in-out infinite alternate; }  @keyframes glow {   from {     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;   }      to {     text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;   }